header {
    height: 100vh;
    height: 100dvh;
    background-image: url(../src/img/contacto.jpg);
    background-color: #00000070;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h5, header h6, header p {
    color: var(--dutch-white);
}

.encabezado hr{
    border: dashed 1px var(--dutch-white);
}

.horario{
    width: 30%;
    text-align: end;
    position: absolute;
    bottom: 7%;
    right: 7%;
}

.horario > *{
    margin: 0;
}

.header-section-a h2{
    z-index: 1;
}

.contacto {
    margin: 0 7% 5rem 7%;
    position: relative;
}

.informacion-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin-bottom: 5rem;
    padding-top: 15rem;
}

.contacto > img{
    width: 28rem;
    position: absolute;
    left: 37%;
    top: 12rem;
    bottom: 76.66%;
    z-index: -1;
}

.imagen-contacto{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.imagen-contacto img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.informacion-contacto h2 {
    text-align: end;
    margin-bottom: 4rem;
}

.medios-contacto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
}

.medios-contacto div ul li p {
    margin-bottom: 0;
}

.medios-contacto div ul li p span {
    color: var(--avocado);
    font-weight: 700;
}

.medios-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-verde{
    margin-top: 4rem;
}

.mapa-contacto {
    margin: 0 7% 3rem 7%;
}

iframe{
    margin: 2rem 0 2rem 0;
    width: 100%;
    height: 30rem;
    border: 0;
}

.menta {
    width: 30rem;
    position: absolute;
    top: 3.64%;
    bottom: 73.41%;
}

.encabezado {
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/*Sección formulario*/
.formulario-contenedor {
    position: relative;
    background-color: var(--dutch-white);
    padding: 19.5rem 7% 6rem 7%;
}

.formulario-contenedor form label {
    font-size: var(--body-sm);
    line-height: var(--line-body-sm);
}

.formulario-contenedor input {
    height: 5rem;
    background-color: var(--dutch-white);
    border-radius: 0%;
    border: solid 1px var(--bistre);
    color: var(--bistre);
    font-size: var(--widget);
    font-family: var(--lato);
    line-height: var(--line-body);
    font-weight: 400;
    padding-left: 1.6rem;
}

.formulario-contenedor textarea {
    max-height: 20rem;
    background-color: var(--dutch-white);
    border-radius: 0%;
    border: solid 1px var(--bistre);
    color: var(--bistre);
    font-size: var(--widget);
    font-family: var(--lato);
    line-height: 3.3rem;
    font-weight: 400;
    padding-left: 1.6rem;
}

.formulario-contenedor input:focus,
.formulario-contenedor textarea:focus {
    background-color: var(--white);
    border: solid 1px var(--spanish-orange);
    color: var(--bistre);
    box-shadow: 0 0 5px var(--spanish-orange);
}

.formulario-contenedor input::placeholder,
.formulario-contenedor textarea::placeholder {
    font-size: var(--widget);
    font-family: var(--lato);
    color: var(--secondary-text);
}

.formulario-contenedor input:focus::placeholder,
.formulario-contenedor textarea:focus::placeholder {
    color: var(--spanish-orange);
}

.formulario-contenedor input:-webkit-autofill,
.formulario-contenedor input:-webkit-autofill:hover {
    -webkit-text-fill-color: var(--bistre);
    -webkit-box-shadow: 0 0 0px 1000px var(--dutch-white) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.formulario-contenedor input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--bistre);
    -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.contacto-politicas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contacto-politicas p {
    width: 100%;
}

.contacto-politicas input[type="checkbox"] {
    background-color: var(--dutch-white);
    border: solid 1px var(--bistre);
    border-radius: 0%;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin: 0 0.5rem 0 0;
    padding: 0;
}

.contacto-politicas input[type="checkbox"]::after {
    content: "\F272";
    font-family: bootstrap-icons;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--bistre);
    background-color: var(--dutch-white);
    display: none;
}

/*.contacto-politicas input[type="contacto"]:hover{
        background-color: var(--dutch-white);
    }*/

.contacto-politicas input[type="checkbox"]:focus {
    box-shadow: 0 0 5px var(--spanish-orange);
    background-color: var(--white);
    border: solid 1px var(--spanish-orange);
}

.contacto-politicas input[type="checkbox"]:checked::after {
    display: block;
}

.boton-contacto {
    display: flex;
    justify-content: center;
}

/*Modal de envío de formulario*/
.modal-dialog {
    margin-top: 5rem;
}

.modal-content {
    box-shadow: 0 0 0 100vmax #381a0580;
    border-radius: 0;
    border: none;
}

.modal-header {
    background-color: var(--avocado);
    border-radius: 0;
}

.modal-title {
    color: var(--dutch-white);
}

.btn-close:focus {
    outline-color: var(--dutch-white);
    box-shadow: 0 0 0 0.1rem var(--dutch-white);
}

.modal-body p {
    color: var(--bistre);
}

.modal-footer {
    border-top: none;
}

/*Extra extra large*/
@media (min-width: 1920px){
    .contacto,
    .redes-contacto,
    .mapa-contacto{
        margin-left: 36rem;
        margin-right: 36rem;
    }

    .formulario-contenedor{
        padding-left: 36rem;
        padding-right: 36rem;
    }

    .medios-contacto h2{
        text-align: center;
    }
}

/*Large*/
@media (max-width: 1400px){
    .contacto > img{
        left: 36%;
        top: 6rem;
    }
}

/*Medium & small*/
@media (max-width: 992px){
    .informacion-contacto {
        grid-template-columns: auto;
        padding-top: 11rem;
    }

    .imagen-contacto{
        order: 2;
    }

    .medios-contacto h2{
        text-align: center;
    }

    .contacto > img{
        left: 24%;
        width: 20rem;
    }

    .boton-verde{
        margin-top: 2rem;
    }

    .informacion-contacto h2 {
        margin-bottom: 2rem;
    }

    .horario{
        width: 50%;
    }
}