@import "/css/variables.css";

header{
    background-color: var(--bistre);
}

header h5, header h3 {
    color: var(--dutch-white);
}

span{
    color: var(--saffron);
}

.encabezado {
    padding: 20rem 7% 0 7%;
}

.deslizar{
    transform: rotate(90deg);
    align-self: flex-start;
}